.parent-container {
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    background-color: #f0f0f0; /* Optional background color for visibility */
    padding: 20px; /* Optional: ensures some padding around the container */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.signup-container{
    max-width: 800px; /* Adjust the width as needed */
    width: 100%;
    padding: 20px; /* Add some padding around the container */
    border-radius: 4px; /* Optional: rounds the corners of the container */
    box-shadow: 0 4px 6px rgba(0.2,0.2,0.2,0.2); /* Optional: adds a shadow to the container */
    
}

.signup-button{
  background-color: #4CAF50;
  color: white;
  padding: 16px 32px;
  margin: 16px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition: 0.3s;
}
.signup-button:hover {
  background-color: #45a049;
  }

.logout {
  background-color: #af4c4c;
}

.logout:hover {
  background-color: #a04545;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust size as needed */
  gap: 15px;
  padding: 20px;
  background-color: #f0f0f0; /* Light background for the whole grid */
  border-radius: 8px;
}

.grid-item {
  display: flex;
  align-items: center;
  background-color: #3949AB; /* Cool background color */
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grid-item:hover {
  transform: scale(1.05);
  background-color: #4a56a8; /* Darker shade on hover */
}

.grid-item input {
  margin-right: 15px;
}

.league-info {
  color: white;
  font-size: 1.1em;
  font-weight: bold;
}

.league-name {
  display: block;
}

.league-game {
  font-style: italic;
  color: #d1ecff; /* Slightly different color for the game name */
}