.instruction-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px #0000001a;
  margin: 20px auto;
  overflow: hidden;
  width: 100%;
  }
  
  .instructions-inner-container {
    background-color: #dbedf9;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000001a;
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
    padding: 20px;
    text-align: left;
  }

  .instruction-header {
    align-items: center;
    background-color: #007bff;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    width: 100%;
  }
  .instructions-inner-container h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 2.2em;
}

  
  .instruction-icon {
    margin-right: 10px;
  }
  
  .instruction-text {
    flex-grow: 1;
    text-align: left;
  }
  
  .arrow {
    margin-left: 10px;
    transition: transform 0.3s;
  }
  
  .arrow.up {
    transform: rotate(180deg);
  }
  
  .dropdown-content {
    padding: 20px;
    background-color: white;
    border-top: 1px solid #ccc;
    animation: expand 0.3s ease-out;
  }
  
  @keyframes expand {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 500px; /* Adjust as needed */
      opacity: 1;
    }
  }
  

  .instructions-inner-container ol {
    padding-left: 20px;
    counter-reset: item;
}

.instructions-inner-container ol > li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 30px;
    list-style: none;
}

.instructions-inner-container ol > li:before {
    content: counter(item) ".";
    counter-increment: item;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5em;
    color: #3498db;
}

.instructions-inner-container ol > li strong {
    display: block;
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #34495e;
}

.instructions-inner-container ol > li p,
.instructions-inner-container ol > li ul {
    margin-left: 20px;
}

.instructions-inner-container ol > li ul {
    list-style-type: disc;
    margin-top: 10px;
    margin-left: 40px;
}

.instructions-inner-container ol > li ul.circle-points {
    list-style-type: circle !important;
    padding-left: 20px;
    margin-left: 20px;
}

.instructions-inner-container ol > li ul.circle-points li {
    list-style-type: circle !important;
    padding-left: 0;
    margin-left: 0;
}

.instructions-inner-container ol > li ul.circle-points li:before {
    content: none;
}

.instructions-inner-container code {
    background-color: #eaf1f7;
    padding: 2px 4px;
    border-radius: 3px;
}