__pycache__
classes/__pycache__
logfiles
single_file_game

.coverage
coverage/
htmlcov/

# pytest cache
.pytest_cache/

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# pip cache
Pipfile.lock

# Python cache files
__pycache__/
*.py[cod]


# If you are using Jupyter notebooks
.ipynb_checkpoints/

#anything in the folder "other" is ignored
other/*

gen_prompt_project.py
gen_prompt_game.py
project_code.md
league_code.md
frontend/src/gen_prompt.py
frontend/src/front_end.md
backend/teams.json

# Ignore all db files
*.db

# Ignore all log files
.DS_Store

backend/games/prisoners_dilemma/leagues/admin/BOMB