.App{
  align-items: center;
  color: #333;
  display: block;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  text-align: center;
}

.main-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  
}

h1 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

table th,
table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  width: 25%;
}

table th {
  background-color: #f4f4f4;
  color: #333;
  text-transform: uppercase;
}

table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #f1f1f1;
}

.table-cell {
  display: flex;
  align-items: center;
  font-size: inherit;
}

.table-cell button {
  margin-left: 5px;
}

/* Button styling */
.default-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 3px 6px;
  margin-left: 5px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 8px;
  display: inline-block;
  /* Ensure buttons are inline */
  width: auto;
  margin: 16px 0;
  transition: .3s;
}

.add_button {
  background-color: #237e24;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-left: 5px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  /* Ensure buttons are inline */
  width: 40%;
}

.add_button:hover {
  background-color: #1d3a22;
}

/* Specific button colors */
.default-button.delete {
  background-color: #dc3545;
}

.default-button.delete:hover {
  background-color: #c82333;
}

.default-button.reset {
  background-color: #ffc107;
}

.default-button.reset:hover {
  background-color: #e0a800;
}

/* Toast container */
.toast-container {
  font-size: 14px;
}

.plus-symbol {
  font-size: 20px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.plus-symbol:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}


/* Form group styling */
.form-group {
  margin-top: 20px;
}

.add_team_button {
  background-color: #4CAF50;
  color: white;
  padding: 16px 32px;
  margin: 16px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition: 0.3s;
}

.add_team_button:hover {
  background-color: #45a049;
}